{% extends 'layout/base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}Wishlist{% endblock %}
{% block id %}id="wishlist"{% endblock %}
{% block class %}class="product-grid-sidebar-left"{% endblock %}

{% block content %}
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <div class="page-home">
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li>
                                            <a href="{% url 'shared:home' %}">
                                                <span>Home</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span>Wishlist</span>
                                            </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </nav>

                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-4 col-sm-4">
                                        <div class="sidebar-block">
                                            <div class="title-block">Wishlist</div>
                                            <div class="block-content">
                                                <p>{{ products|length }} item{{ products|length|pluralize }}</p>
                                                <a class="btn btn-primary" href="{% url 'products:list' %}">Continue shopping</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-9 col-lg-9 col-md-8">
                                        <div class="tab-content text-center">
                                            {% if products %}
                                                <div class="row">
                                                    {% for product in products %}
                                                        <div class="item text-center col-md-4">
                                                            <div class="product-miniature item-one first-item">
                                                                <div class="thumbnail-container border">
                                                                    <a href="{% url 'products:detail' pk=product.id %}">
                                                                        {% with product.images.all as imgs %}
                                                                            {% if imgs %}
                                                                                {% for image in imgs %}
                                                                                    <img class="img-fluid {% if forloop.first %}image-cover{% else %}image-secondary{% endif %}"
                                                                                         src="{{ image.image.url }}"
                                                                                         alt="{{ product.name }}">
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                <img class="img-fluid image-cover"
                                                                                     src="{% static 'img/product/1.jpg' %}"
                                                                                     alt="{{ product.name }}">
                                                                            {% endif %}
                                                                        {% endwith %}
                                                                    </a>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="{% url 'products:detail' pk=product.id %}">{{ product.name }}</a>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <div class="product-price-and-shipping">
                                                                                {% if product.has_discount %}
                                                                                    <span style="text-decoration: line-through;"
                                                                                          class="price">${{ product.price_usd }}</span>
                                                                                    |
                                                                                    <span class="price">${{ product.discount_price_usd }}</span>
                                                                                {% else %}
                                                                                    <span class="price">${{ product.price_usd }}</span>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        <a class="add-to-cart"
                                                                           href="{% url 'products:cart' pk=product.id %}?next={{ request.get_full_path|urlencode }}"
                                                                           data-button-action="add-to-cart">
                                                                            <i {% if product|in_cart:request %}style="color: red;"{% endif %}
                                                                               class="fa fa-shopping-cart"
                                                                               aria-hidden="true"></i>
                                                                        </a>
                                                                        <a class="addToWishlist"
                                                                           href="{% url 'products:wishlist' pk=product.id %}?next={{ request.get_full_path|urlencode }}"
                                                                           data-rel="1">
                                                                            <i class="fa fa-heart"
                                                                               {% if product|in_wishlist:request %}style="color: red;"{% endif %}
                                                                               aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <p>Your wishlist is empty.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
